@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CRUD.Models.Contact>
        ViewData["Title"] ="Contact Lists";

}
<h1 id="contactlists">Contact Lists</h1>
   <a class='btn btn-primary btn-sm' href='Contact/Create'>+ Add New Lists </a>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.Id</td>
            <td>@item.name</td>
            <td>@item.email</td>
            <td>@item.phone</td>
            <td>@item.address</td>
            <td>
                <a class='btn btn-primary btn-sm' href="/ContactList/Edit?id=">Edit</a>   
                <a class='btn btn-danger btn-sm' href="/ContactList/Delete?id=">Delete</a>
            </td>
            </tr>
        }
    </tbody>

</table>

<style>
#contactlists{
    text-align:center;
    color:rgb(20,30,50);

}
</style>
